h1 {
    text-align: center;
    color: red;
}

#buttons {
    border:0;
    MARGIN-RIGHT: auto;
    MARGIN-LEFT: auto;
    width: 600px;
    font-size: 22px;
}
/*#showAll {*/
/*    width:130px;*/
/*    height:30px ;*/
/*    font-size:20px;*/
/*}*/
/*#searchById {*/
/*    width:80px;*/
/*    height:30px ;*/
/*    font-size:20px;*/
/*}*/
/*#searchByName {*/

/*}*/
/*#addBook {*/
/*    width:100px;*/
/*    height:30px ;*/
/*    font-size:20px;*/
/*}*/
/*#close {*/
/*    width:70px;*/
/*    height:30px ;*/
/*    font-size:20px;*/
/*}*/
.btn {
    display: flex;
    padding: 6px 12px;
    height: 60px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    /*border: 1px solid transparent;*/
    /*border-radius: 4px;*/
    /*color: #fff;*/
    /*background-color: #68dff0;*/
    /*border-color: #48bcb4;*/
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    border-radius: 20px;
    -webkit-border-radius: 20px;
}

